bin/
tmp/

# Repo-specific
.derrick/
/derrick
/derrick-entrypoint
/doc

# System-specific
.DS_Store

# Local Go workspace (use parent go.work for joint development)
go.work
go.work.sum

pkg/dist
pkg/bin

# Default Waypoint database file
data.db
waypoint-restore.db.lock

# .vscode - We intentionally commit .vscode in order to share project-specific settings
.vscode/*log

.idea
