<CopyableCode @ref="context-create">
  <pre tabindex="0"><code id="context-create">derrick context create \
    -server-addr={{this.hostname}} \
    -server-auth-token=<span data-test-token>{{this.token}}</span> \
    -server-require-auth=true \
    -set-default {{this.contextName}}</code></pre>
</CopyableCode>