<p>
  To install Derrick manually, find the
  <ExternalLink href="https://releases.hashicorp.com/derrick/">appropriate package </ExternalLink>
  for your system and download it. Derrick is packaged as a zip archive. After downloading Derrick,
  unzip the downloaded archive. It is recommended that you move Derrick to a directory in your <code>PATH</code>
  to allow you to execute it from any directory.
</p>

<p>For example:</p>
<p>
  <code class="output">$ mv ~/Downloads/derrick /usr/local/bin/</code>
</p>